@use "assets/scss/config/variables" as var;

.sign_in {
  margin: 100px;
  div {
    margin: 10px;
  }
}

.status {
  background: var.$GRAY_200;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var.$GRAY_200;
  border: 1px solid var.$GRAY_800;
}
