@use "assets/scss/config/variables" as var;

.button {
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var.$GRAY_200;
  border: 1px solid var.$GRAY_800;
}
