/**
* Typography
*/
$FONT_WEIGHT_TEXT: 400;
$FONT_WEIGHT_HEADLINE: bold;
// nomal
$FONT_SIZE_NORMAL: 14px;
// headline
$FONT_SIZE_HEADLINE_H1: 23px;
$FONT_SIZE_HEADLINE_H2: 18px;
$FONT_SIZE_HEADLINE_H3: 16px;
$FONT_SIZE_HEADLINE_H4: 14px;
$FONT_SIZE_HEADLINE_H5: 12px;
$FONT_SIZE_HEADLINE_H6: 10px;
// text
$FONT_SIZE_TEXT_LG: 16px;
$FONT_SIZE_TEXT_MD: 14px;
$FONT_SIZE_TEXT_SM: 12px;
$FONT_SIZE_TEXT_XS: 10px;

/**
* Color
*/
// black
$BLACK_DARK: #303030;
// gray
$GRAY_000: #ffffff;
$GRAY_100: #fafafa;
$GRAY_200: #f1f1f1;
$GRAY_300: #e8e8e8;
$GRAY_400: #dddddd;
$GRAY_500: #b7b7b7;
$GRAY_600: #afafaf;
$GRAY_700: #7d7d7d;
$GRAY_800: #4a4a4a;
$GRAY_900: #171717;
$GRAY_200_SOFT: $GRAY_100;
$GRAY_200_HOVER: $GRAY_400;
$GRAY_400_SOFT: $GRAY_200;
$GRAY_400_HOVER: $GRAY_600;
$GRAY_700_SOFT: $GRAY_200;
$GRAY_700_HOVER: $GRAY_800;
// white
$WHITE: #ffffff;
$WHITE_SOFT: $GRAY_400;
$WHITE_HOVER: $GRAY_300;
// // avocado
// $PEEL: #707e55;
// $OUTER_FLESH: #cee18d;
// $INNER_FLESH: #f4f4a9;
// $OUTER_SEED: #6e4827;
// $INNER_SEED: #c59e61;
// // O:der
// $PRIMARY: #E84660;
// $PRIMARY_HOVER: #D92340;
// $PRIMARY_SOFT: #FADADF;
// $PRIMARY_X_SOFT: #FFF0F2;
// $WARNING: #F3D937;
// $WARNING_HOVER: #EDB31E;
// $WARNING_SOFT: #FCF7D3;
// $DANGER: #D00B0B;
// $DANGER_HOVER: #BF0829;
// $DANGER_SOFT: #FECFD8;
// $SUCCESS: #5BD33D;
// $SUCCESS_HOVER: #33B911;
// $SUCCESS_SOFT: #E4F5E0;
// $INFO: #359FBE;
// $INFO_HOVER: #228AA8;
// $INFO_SOFT: #DFF0F5;
// other
$DANGER: #d6082e;
// $BLACK: #222222;
// $BROWN: #98632A;
// $BLUE: #0076A8;
// $GREEN: #478000;
// $ORANGE: #CF4800;
// $RED: #B60218;
// $YELLOW: #F3D937;

/**
* Other
*/
$BORDER: $GRAY_600;
$BORDER_DOT: $GRAY_800;
$SHADOW: rgba(0, 0, 0, 0.1);
